.btn {
    display: inline-block;
    color: #fff;
    padding: 1.8rem 4.8rem;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 1.5rem;
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
    }
}

.btn-primary{
    background-color: $color-primary;
    &:hover{
        background-color: #E98F26;
        color: #fff;
    }
}

.btn-secondary{
    background-color: $color-secondary;
    &:hover{
        background-color: #889D58;
        color: #fff;
    }
}

.btn-outline{
    border: #fff 1px solid;
    &:hover{
        background-color: rgba(255, 255, 255, 0.089);
        color: #fff;
    }
}