// FORMS
input,select {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: $color-dark-text;
    background-color: $input-bg;
    border: 1px solid $input-border;
    padding: 1.6rem;
    margin-bottom: .6rem;
}

input[type=text] {
    border-style: none;
    width: 100%;
    margin-bottom: 1.6rem;
}

select {
    border-style: none;
    padding: 1rem;
}

input[type="submit" i] {
    color: #fff;
    background-color: $color-primary;
    padding: 1.8rem 4.8rem;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: 3rem;
    align-items: flex-end;
}

label, input label{
    display: inline-block;
    padding-bottom: 1rem;
}