h1,h2,h3{
    font-family: 'DM Serif Display', serif;
    box-sizing: border-box;
    font-weight: 100;
}

h1{
    color: $color-light-text;
    font-size: 9rem;
    line-height: 9.1rem;
}

h2{
    font-size: 6rem;
    line-height: 6.4rem; 
}

h3{
    font-size: 2.4rem;
    line-height: 2.7rem; 
}